{
	frankenphp
}

# Доменное имя вашего сервера
avtopark82 {
	# Укажите веб-корень как директорию public/
	root * public/
	# Включите сжатие (опционально)
	encode zstd br gzip
	# Выполняйте PHP-файлы из директории public/ и обслуживайте статические файлы
	php_server
}